/**/
body {
    width:100%;
	margin:0;
	padding:0;
	color:
	font-family:Century Gothic,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	line-height:1.6em;
	background:#F0F8FF
	}
p {
	margin:0 0 2em;
	padding:0
	}
#container {
	width:80%;
	max-width:900px;
	margin:auto;
	padding:30px
	}
pre {
	color:#69F;
	border:solid 1px #ccc;
	padding:1em;
	margin:1em 0 0;
	}
    
    
    
    
    footer {
    display:block;
	background:#333;
	color:white;
	font-weight:bold;
	font-size:85%;
	line-height:1em;
	text-align: center;
	padding: 10px
	}
footer a {color:#ccc}
footer a:hover {color:#fcc}